discordToken: {{discordToken}}
steamApiKey: {{steamApiKey}}
battlenetClientKey: {{battlenetClientKey}}
battlenetClientSecret: {{battlenetClientSecret}}
dynamodbTable: {{dynamodbTable}}
dynamodbRegion: {{dynamodbRegion}}
enableSC2Command: true
enableEventCommand: true