discordToken: {{discordToken}}
steamApiKey: {{steamApiKey}}
battlenetClientKey: {{battlenetClientKey}}
battlenetClientSecret: {{battlenetClientSecret}}
dynamodbTable: {{dynamodbTable}}
dynamodbRegion: {{dynamodbRegion}}
guildWars2ApiKeys: {{guildWars2ApiKeys}}
enableSteamCommand: true
enableSC2Command: true