#!/bin/bash

echo "Logging in to ECR"
$(aws ecr get-login --region {{region}} --no-include-email)

echo "Fetching Docker image"
docker pull {{awsAccountId}}.dkr.ecr.{{region}}.amazonaws.com/{{dockerImageTag}}