#!/bin/bash

echo "Logging in to ECR"
aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin aws_account_id.dkr.ecr.us-east-1.amazonaws.com

echo "Fetching Docker image"
docker pull {{awsAccountId}}.dkr.ecr.{{region}}.amazonaws.com/{{dockerImageTag}}